In [9]:
import pandas as pd
import numpy as np
import os

In [10]:
# Import dataset from CSV files.

In [11]:
anime = pd.read_csv("anime.csv")
ratings = pd.read_csv("rating_complete.csv")

In [12]:
anime

,MAL_ID,Name,Score,Genres,English name,Japanese name,Type,Episodes,Aired,Premiered,...,Score-10,Score-9,Score-8,Score-7,Score-6,Score-5,Score-4,Score-3,Score-2,Score-1
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,カウボーイビバップ,TV,26,"Apr 3, 1998 to Apr 24, 1999",Spring 1998,...,229170.0,182126.0,131625.0,62330.0,20688.0,8904.0,3184.0,1357.0,741.0,1580.0
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,カウボーイビバップ 天国の扉,Movie,1,"Sep 1, 2001",Unknown,...,30043.0,49201.0,49505.0,22632.0,5805.0,1877.0,577.0,221.0,109.0,379.0
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,トライガン,TV,26,"Apr 1, 1998 to Sep 30, 1998",Spring 1998,...,50229.0,75651.0,86142.0,49432.0,15376.0,5838.0,1965.0,664.0,316.0,533.0
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),TV,26,"Jul 2, 2002 to Dec 24, 2002",Summer 2002,...,2182.0,4806.0,10128.0,11618.0,5709.0,2920.0,1083.0,353.0,164.0,131.0
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,冒険王ビィト,TV,52,"Sep 30, 2004 to Sep 29, 2005",Fall 2004,...,312.0,529.0,1242.0,1713.0,1068.0,634.0,265.0,83.0,50.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17557,48481,Daomu Biji Zhi Qinling Shen Shu,Unknown,"Adventure, Mystery, Supernatural",Unknown,盗墓笔记之秦岭神树,ONA,Unknown,"Apr 4, 2021 to ?",Unknown,...,Unknown,Unknown,Unknown,1.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17558,48483,Mieruko-chan,Unknown,"Comedy, Horror, Supernatural",Unknown,見える子ちゃん,TV,Unknown,2021 to ?,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17559,48488,Higurashi no Naku Koro ni Sotsu,Unknown,"Mystery, Dementia, Horror, Psychological, Supe...",Higurashi:When They Cry – SOTSU,ひぐらしのなく頃に卒,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,1.0,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17560,48491,Yama no Susume: Next Summit,Unknown,"Adventure, Slice of Life, Comedy",Unknown,ヤマノススメ Next Summit,TV,Unknown,Unknown,Unknown,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown
17561,48492,Scarlet Nexus,Unknown,"Action, Fantasy",Unknown,SCARLET NEXUS,TV,Unknown,"Jul, 2021 to ?",Summer 2021,...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown

In [13]:
ratings.head()

   user_id  anime_id  rating
0        0       430       9
1        0      1004       5
2        0      3010       7
3        0       570       7
4        0      2762       9

In [14]:
anime = anime.drop(columns=['Japanese name', 'Studios','Rating','Producers','Premiered','Type', 'Aired', 'Licensors','Members','Favorites','Source','Duration','Watching','Completed','On-Hold','Dropped','Plan to Watch','Score-10','Score-9','Score-8','Score-7','Score-6','Score-5','Score-4','Score-3','Score-2','Score-1'])
anime.head()

,MAL_ID,Name,Score,Genres,English name,Episodes,Ranked,Popularity
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space",Cowboy Bebop:The Movie,1,159.0,518
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen",Trigun,26,266.0,201
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",Witch Hunter Robin,26,2481.0,1467
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",Beet the Vandel Buster,52,3710.0,4369

In [15]:
#removes entries with no scores
anime = anime[ anime['Score'].str.contains('Unknown') == False]
anime = anime[ anime['Ranked'].str.contains('Unknown') == False]
#Removes entries that contain adult content
anime = anime[ anime['Genres'].str.contains("Hentai") == False]
anime.size

88504

In [16]:
#converts values in these columns to numerical data types
anime['Score'] = anime['Score'].apply(pd.to_numeric)
anime['Ranked'] = anime['Ranked'].apply(pd.to_numeric)
anime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11063 entries, 0 to 17552
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MAL_ID        11063 non-null  int64
 1   Name          11063 non-null  object
 2   Score         11063 non-null  float64
 3   Genres        11063 non-null  object
 4   English name  11063 non-null  object
 5   Episodes      11063 non-null  object
 6   Ranked        11063 non-null  float64
 7   Popularity    11063 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 777.9+ KB

In [17]:
for row in anime.index:
    if anime.loc[row, 'English name'] == 'Unknown':
        anime.loc[row, 'English name'] = anime.loc[row, 'Name']

In [18]:
#Removes shows that are less popular leaving only the top 60% of shows
pop_thresh = anime['Ranked'].max() * 0.60
print(pop_thresh)
print(len(anime))
anime_thresh = anime[anime['Ranked'] < pop_thresh]
print(len(anime_thresh))

6644.4
11063
6646

In [19]:
anime = anime_thresh
print(len(anime))

6646

In [20]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57633278 entries, 0 to 57633277
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   user_id   int64
 1   anime_id  int64
 2   rating    int64
dtypes: int64(3)
memory usage: 1.3 GB

In [34]:
# User should rate atleast 400 animies
n_ratings = ratings['user_id'].value_counts()
rate_thresh = ratings[ratings['user_id'].isin(n_ratings[n_ratings >= 400].index)].copy()
rate_thresh = rate_thresh[rate_thresh['user_id'] < rate_thresh['user_id'].max() * 0.5]
len(rate_thresh)

12179381

In [35]:
rate_thresh

          user_id  MAL_ID  rating
1683           17    5781       7
1684           17    6682      10
1685           17   14199       2
1686           17   12355       6
1687           17   23673       6
...           ...     ...     ...
28721664   176690    2494       8
28721665   176690   17895       8
28721666   176690     268       7
28721667   176690   16005       8
28721668   176690    1589       8

[12179381 rows x 3 columns]

In [36]:
ratings = rate_thresh

In [37]:
ratings = ratings.rename(index = str, columns={"anime_id":"MAL_ID"})
anime_merged = anime.merge(ratings, on = 'MAL_ID')
print(len(anime_merged))

10834984

In [38]:
anime_merged.info()
anime_merged

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10834984 entries, 0 to 10834983
Data columns (total 10 columns):
 #   Column        Dtype
---  ------        -----
 0   MAL_ID        int64
 1   Name          object
 2   Score         float64
 3   Genres        object
 4   English name  object
 5   Episodes      object
 6   Ranked        float64
 7   Popularity    int64
 8   user_id       int64
 9   rating        int64
dtypes: float64(2), int64(4), object(4)
memory usage: 909.3+ MB

,MAL_ID,Name,Score,Genres,English name,Episodes,Ranked,Popularity,user_id,rating
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39,19,8
1,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39,53,10
2,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39,73,9
3,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39,112,10
4,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",Cowboy Bebop,26,28.0,39,147,8
...,...,...,...,...,...,...,...,...,...,...
10834979,48456,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",SK∞: Crazy Rock Jam,1,5799.0,4830,131875,6
10834980,48456,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",SK∞: Crazy Rock Jam,1,5799.0,4830,147566,7
10834981,48456,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",SK∞: Crazy Rock Jam,1,5799.0,4830,152953,5
10834982,48456,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",SK∞: Crazy Rock Jam,1,5799.0,4830,158503,6
10834983,48456,SK∞: Crazy Rock Jam,6.52,"Comedy, Sports",SK∞: Crazy Rock Jam,1,5799.0,4830,159370,6

In [39]:
os.path.exists('anime_ratings_merged.csv')

True

In [40]:
if os.path.exists('anime_ratings_merged.csv'):
    os.remove('anime_ratings_merged.csv')
anime_merged.to_csv('anime_ratings_merged.csv')

In [31]:
if os.path.exists('anime_cleaned.csv'):
    os.remove('anime_cleaned.csv')
anime.to_csv('anime_cleaned.csv')